{% extends "mail/layout.html" %} {% load static %} {% block body %}

<div class="container-glossy-div main-div">
  <div class="row header">
    <div class="col-10 row email">
      <label>{{ request.user.email }}</label>
    </div>
    <div class="col-2 logout">
      <a class="btn btn-sm" href="{% url 'logout' %}">Log out</a>
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" id="inbox">Inbox</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" id="compose">Compose</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" id="sent">Sent</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" id="archived">Archived</a>
    </li>
  </ul>

  <div class="alert alert-success success" role="alert"></div>
  <div class="alert alert-danger error" role="alert"></div>

  <div id="emails-view"></div>

  <div id="compose-view">
    <h3>New Email</h3>
    <form id="compose-form">
      <div class="form-group">
        From:
        <input disabled class="form-control" value="{{ request.user.email }}" />
      </div>
      <div class="form-group">
        To: <input id="compose-recipients" class="form-control" />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          id="compose-subject"
          placeholder="Subject"
        />
      </div>
      <textarea
        class="form-control"
        id="compose-body"
        placeholder="Body"
      ></textarea>
      <div class="submit-div">
        <input type="submit" class="btn btn-primary submit-button" />
      </div>
    </form>
  </div>
</div>
{% endblock %} {% block script %}
<script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}
