{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Inboxly{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{% static 'mail/styles.css' %}?v={{ STATIC_VERSION }}"
    />
    <meta
      name="google-site-verification"
      content="Il39a9zL6khy7yjKA-YTbowqXJElrVe-3Ol8ztkWw3E"
    />
    <link
      href="{% static 'mail/manifest.json' %}?v={{ STATIC_VERSION }}"
      rel="manifest"
    />
    <meta name="version" content="1.0.3" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap4 CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Tempus Dominus CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/css/tempusdominus-bootstrap-4.min.css"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <!--Bootstrap4 Script-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha512-5WvZa4N7Jq3TVNCp4rjcBMlc6pT3lZ7gVxjtI6IkKW+uItSa+rFgtFljvZnCxQGj8SUX5DHraKE6Mn/4smK1Cg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- Tempus Dominus Script -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
      integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/ja.min.js"
      integrity="sha512-rElveAU5iG1CzHqi7KbG1T4DQIUCqhitISZ9nqJ2Z4TP0z4Aba64xYhwcBhHQMddRq27/OKbzEFZLOJarNStLg=="
      crossorigin="anonymous"
    ></script>
    <!-- Moment.js -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/js/tempusdominus-bootstrap-4.min.js"
    ></script>
    <script src="{% static 'mail/inbox.js' %}?v={{ STATIC_VERSION }}"></script>
  </head>
  <body>
    <!-- Video background -->
    <video
      class="bg-video"
      autoplay
      muted
      loop
      playsinline
      preload="none"
      poster="{% static 'mail/bg-poster.png' %}"
    >
      <source src="{% static 'mail/bg.webm' %}" type="video/mp4" />
    </video>
    {% block body %} {% endblock %}
  </body>

  <!-- The Modal -->
  <div class="modal fade" id="autoModal" role="dialog">
    <div
      class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable"
    >
      <div class="modal-content container-glossy-div">
        <!-- Modal Header -->
        <div class="modal-header lang">
          <div>
            <h5 class="font-color eng">⚠️ Important Notice</h5>
            <h5 class="font-color jap">⚠️ 重要なお知らせ</h5>
          </div>
          <div>
            <button
              type="button"
              class="btn submit-button"
              data-toggle="button"
              aria-pressed="false"
              autocomplete="off"
              id="lang"
            >
              日本語版
            </button>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <p class="eng">
            This project is intended solely for
            <strong>educational purposes and personal use</strong>. It
            demonstrates coding techniques and project development concepts.
            Please note that it’s
            <strong>not meant for commercial use</strong> or distribution. Use
            it responsibly and acknowledge any external resources or references
            where applicable.
          </p>

          <p class="jap">
            このプロジェクトは、
            <strong>教育目的および個人使用</strong>のみを目的としています。
            コーディング技術とプロジェクト開発の概念を示すものです。
            <strong>商用利用</strong
            >または配布を目的としたものではありませんのでご注意ください。
            責任を持ってご使用ください。また、外部リソースや参考資料がある場合は、必ず明記してください。
          </p>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-close-modal submit-button eng"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-close-modal submit-button jap"
            data-bs-dismiss="modal"
          >
            閉じる
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Loader -->
  <div class="loader-overlay" id="loader">
    <div class="loader"></div>
  </div>
</html>
